
.vertical-menu a {
    background-color: #000;
    color: #efecec;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
    color: black;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}